html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 40px auto 20px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 40px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container .credit {
    margin: 10px 0;
}

.center {
    text-align: center;
}

table.issues .unread {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.issue-description {
    padding-right: 10px;
}

.issue-history {
    margin: 3px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 4px;
}

.attach {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
}

.add-attach {
    margin-bottom: 5px;
}

.margin {
    margin-bottom: 10px;
}

/* Project part */
.col {
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding: 1px;
}

.col .title {
    border-bottom: 1px solid #afafaf;
    padding: 0 15px;
}

.col .content {
    padding: 8px 0;
    min-height: 150px;
    max-height: 600px;
    overflow: auto;
}

.col .content .no-issues  {
    padding: 20px 0;
    font-size: 30px;
    color: #efefef
}

.col .content .issue {
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 8px;
    margin: 7px 3px;
    box-shadow: rgba(0, 0, 128, 0.25)  1px 1px 3px;
}

.col .content .issue:hover {
    border: 1px solid #ababab;
    cursor: move;
}

.col .content .issue .issue-title {
    padding: 2px 5px;
    border-bottom: 1px solid #ececec;
}

.col .content .issue .issue-desc {
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 60px;
}