html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#footer {
    height: 40px;
    background-color: #f5f5f5;
    margin-top: 40px;
}

.bs-docs-sidenav {
  margin: 60px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: -2 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px 10px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.sidebar {
    height: 100%;
}

.open-sidebar {
    position: fixed;
    height: 100%;
    width: 50px;
    display: block;
    cursor: pointer;
}
.close-sidebar {
    height: 100%;
    display: block;
    cursor: pointer;
}

.open-sidebar:hover, 
.close-sidebar:hover {
    background-color: #f0f0f0;
}



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container .credit {
    margin: 10px 0;
}

.center {
    text-align: center;
}

table.issues .unread {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.issue-description {
    padding-right: 10px;
}

.issue-history {
    margin: 3px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 4px;
}

.attach {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
}

.add-attach {
    margin-bottom: 5px;
}

.margin {
    margin-bottom: 10px;
}

.minify:hover {
    background-color: #ececec;
}