<div class="modal hide fade" id="tableOptions" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            Issue list options
            <small>Select fields that should be shown</small>
        </h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <label class="checkbox">
                <input type="checkbox" data-ng-model="options.profile.table.project" value="option1"> Project title
            </label>
            <label class="checkbox">
                <input type="checkbox" data-ng-model="options.profile.table.author" value="option2"> Author name
            </label>
            <label class="checkbox">
                <input type="checkbox" data-ng-model="options.profile.table.tracker" value="option3"> Tracker
            </label>
            <label class="checkbox">
                <input type="checkbox" data-ng-model="options.profile.table.status" value="option4"> Status
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <a href="" class="btn btn-success" data-ng-click="storeTableOptions()">
            Store options
        </a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>

<div data-ng-include src="'/html/partials/issueDetails.html'"></div>
<div class="page-header">
    <h3>Your Latest Issues</h3>
</div>
<div class="well well-small row-fluid" data-ng-show="issues.length > 0">
    <div class="span7">
        <input type="text" class="input-medium search-query" data-ng-model="search.subject" placeholder="Search by subject"/>
    </div>
    <div class="span5">
        <a href="#/new_issue" class="btn btn-info">
            <i class="icon-plus-sign"></i>&nbsp;New Issue
        </a>
        <a href="" class="btn" data-ng-click="markAllRead()" data-ng-show="getUnreadCount() > 0">
            <i class="icon-ok"></i>&nbsp;Mark all as read
        </a>
        <a href="" class="btn" data-ng-click="reload()" data-ng-class="isLoading() && 'disabled'">
            <i class="icon-refresh"></i>&nbsp;Update
        </a>
        <a href="#tableOptions" class="btn" data-toggle="modal">
            <i class="icon-cog"></i>
        </a>
        <i class="help icon-info-sign"
                data-ng-hide="options.profile.hideHints"
                data-type="popover"
                data-original-title="Notice"
                data-content="With conf sign (left to this hint) you could manage fields that are shown in the table"></i>
    </div>
</div>
<div data-ng-include src="'/html/partials/issueList.html'"></div>