<div>
    <div class="alert alert-danger" data-ng-show="options.isEmpty()">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> No options defined ! <a href="#/options">Define</a>
    </div>
</div>
<div class="row-fluid">
    <div class="offset4 span4 alert alert-info center" data-ng-show="loading">
        <img src="/img/ajax-loader.gif" alt="Loading..." />
        <strong>Loading...</strong>
    </div>
</div>
<div class="modal hide fade" id="issueDetails" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{issue.subject}}</h3>
    </div>
    <div class="modal-body">
        <p>
            <small>
                Added by 
                <a href="" data-ng-click="openAuthorPage(issue)">{{issue.author.name}}</a>
                on {{issue.created_on | date:'MMM d, y'}}
                <br/>
                <strong>Status</strong>:&nbsp;{{issue.status.name}}<br/>
                <strong>Priority</strong>:&nbsp;{{issue.priority.name}}<br/>
            </small>
        </p>
        <hr/>
        <p>
            {{issue.description}}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>
<div class="page-header">
    <h3>Your Latest Issues</h3>
</div>
<div class="well well-small row-fluid">
    <div class="span9">
        <input type="text" class="input-medium search-query" data-ng-model="search.subject" placeholder="Search by subject"/>
    </div>
    <div class="span3">
        <a href="" class="btn" data-ng-click="markAllRead()">
            <i class="icon-ok"></i>&nbsp;Mark all as read
        </a>
        <a href="" class="btn" data-ng-click="reload()" data-ng-hide="isLoading">
            <i class="icon-refresh"></i>&nbsp;Update
        </a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-hover table-condensed issues">
            <thead>
                <tr>
                    <th style="width: 15px;">#</th>
                    <th style="width: 250px;" >
                        <a href="" data-ng-click="order = 'author.name'; reverse=!reverse">Author</a>
                    </th>
                    <th>Title</th>
                    <th style="width: 50px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="issue in issues | filter:search | orderBy:order:reverse" data-ng-class="issue.read || 'unread'">
                    <td><i class="icon-check pointer" data-ng-click="markRead(issue)" data-ng-show="!issue.read"></i></td>
                    <td>{{issue.author.name}}</td>
                    <td>
                        <a href="" data-ng-click="showDetails(issue)">{{issue.subject}}</a>
                    </td>
                    <td>
                        <i class="icon-share pointer" data-ng-click="openWebPage(issue)" data-type="tooltip" data-original-title="Open issue in Redmine"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>