<div class="modal hide fade" id="issueDetails" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            {{issue.subject}}
            <small data-ng-show="issue.project">{{issue.project.name}}</small>
        </h3>
    </div>
    <div class="modal-body">
        <div class="alert center" data-ng-hide="issue.detailsLoaded">
            Loading...
        </div>
        <p>
            <small>
                Added by 
                <a href="" data-ng-click="openAuthorPage(issue.author.id)">{{issue.author.name}}</a>
                on {{issue.created_on | date:'MMM d, y'}}
            </small>
        </p>
        <div class="row-fluid">
            <div class="span6">
                <p>
                    <small>
                        <strong>Status</strong>:&nbsp;
                        <span data-editable-list
                              data-editable-value="issue.status.id" 
                              data-editable-select="availStatuses" 
                              data-on-ok="stausOk">
                            {{issue.status.name}}
                        </span><br/>
                        <strong>Priority</strong>:&nbsp;{{issue.priority.name}}<br/>
                        <span data-ng-show="issue.assigned_to">
                            <strong>Assignee</strong>:&nbsp;
                            <a href="" data-ng-click="openAuthorPage(issue.assigned_to.id)">{{issue.assigned_to.name}}</a>
                        </span><br/>
                    </small>
                </p>
            </div>
            <div class="span6">
                <div data-ng-show="issue.done_ratio >= 0">
                    <small data-ng-show="issue.tracker">
                        <strong>Type</strong>:&nbsp;
                        <span data-editable-list
                              data-editable-value="issue.tracker.id" 
                              data-editable-select="project.trackers" 
                              data-on-ok="trackOk">
                            {{issue.tracker.name}}
                        </span>
                        <br/>
                    </small>
                    <small>
                        <strong>Done</strong>: &nbsp;{{issue.done_ratio}}%
                    </small>
                    <div class="progress progress-striped">
                        <div class="bar" style="width: {{issue.done_ratio}}%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li class=""><a href="#journals" data-toggle="tab">History</a></li>
                <li class=""><a href="#addComment" data-toggle="tab">Add Comment</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <div class="issue-description">
                        <p data-ng-bind-html="issue.description | nl2br"></p>
                    </div>
                </div>
                <!-- Show Issue actions history -->
                <div class="tab-pane" id="journals">
                    <div class="alert center" data-ng-hide="issue.detailsLoaded">
                        Loading history...
                    </div>
                    <div data-ng-repeat="history in issue.journals" class="issue-history">                    
                        <p>
                            <small>
                                <strong>Updated by</strong>&nbsp;
                                <a href="#">{{history.user.name}}</a> on {{history.created_on | date:'MMM d, y'}}
                            </small>
                        </p>
                        <ul data-ng-show="history.details.length > 0">
                            <li data-ng-repeat="item in history.details">
                                <div data-issue-history="item" data-project="project"></div>
                            </li>
                        </ul>
                        <blockquote data-ng-show="history.notes">
                            <p>{{history.notes}}</p>
                            <small>New comment added</small>
                        </blockquote>
                    </div>
                </div>
                <!-- Add new Comment to issue -->
                <div class="tab-pane" id="addComment">
                    <form>
                        <textarea rows="5" class="input-block-level" data-ng-model="comment"></textarea>
                        <div>
                            <button class="btn" data-ng-click="addComment(comment); comment = ''">Add Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class="btn" data-ng-click="openWebPage(issue)">
            <i class="icon-share"></i>&nbsp;
            Open in Redmine
        </a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>