<div class="modal hide fade" id="issueDetails" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            {{issue.subject}}
            <small data-ng-show="issue.project">{{issue.project.name}}</small>
        </h3>
    </div>
    <div class="modal-body">
        <div class="alert center" data-ng-hide="issue.detailsLoaded">
            Loading...
        </div>
        <p>
            <small>
                Added by 
                <a href="" data-ng-click="openAuthorPage(issue.author.id)">{{issue.author.name}}</a>
                on {{issue.created_on | date:'MMM d, y'}}
            </small>
        </p>
        <div class="row-fluid">
            <div class="span6">
                <p>
                    <small>
                        <strong>Status</strong>:&nbsp;
                        <span data-editable-list
                              data-editable-value="issue.status.id" 
                              data-editable-select="availStatuses" 
                              data-on-ok="stausOk">
                            {{issue.status.name}}
                        </span><br/>
                        <strong>Priority</strong>:&nbsp;{{issue.priority.name}}<br/>
                        <span data-ng-show="issue.assigned_to">
                            <strong>Assignee</strong>:&nbsp;
                            <a href="" data-ng-click="openAuthorPage(issue.assigned_to.id)">{{issue.assigned_to.name}}</a>
                        </span><br/>
                        <span>
                            <strong>Estimated hours</strong>:&nbsp;<span data-editable-input
                                  data-editable-value="issue.estimated_hours"
                                  data-on-ok="estimatedOk">
                                {{issue.estimated_hours || 0}}
                            </span>
                        </span>
                    </small>
                </p>
            </div>
            <div class="span6">
                <div data-ng-show="issue.done_ratio >= 0">
                    <small data-ng-show="issue.tracker">
                        <strong>Type</strong>:&nbsp;
                        <span data-editable-list
                              data-editable-value="issue.tracker.id" 
                              data-editable-select="project.trackers" 
                              data-on-ok="trackOk">
                            {{issue.tracker.name}}
                        </span>
                        <br/>
                    </small>
                    <small>
                        <strong>Done</strong>:&nbsp;<span data-progress
                              data-editable-value="issue.done_ratio"
                              data-on-ok="doneOk">
                            {{issue.done_ratio}}%
                        </span>
                    </small>
                    <div class="progress progress-striped">
                        <div class="bar" style="width: {{issue.done_ratio}}%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-small">
            <div data-ng-show="issue.tracking">
                <a href="" class="btn btn-danger" data-ng-click="stopTrackingTime()">
                    <i class="icon-remove-circle"></i>
                    Finish working on this issue
                </a>
            </div>
            <div data-ng-hide="issue.tracking">
                <a href="" class="btn btn-success" data-ng-click="startTrackingTime()">
                    <i class="icon-time"></i>
                    Start working on this issue
                </a>
            </div>
        </div>
        <hr/>
        <div class="tabbable" id="detailsTabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li class=""><a href="#journals" data-toggle="tab">History</a></li>
                <li class="">
                    <a href="#attachments" data-toggle="tab">Attachments</a>
                </li>
                <li class=""><a href="#addComment" data-toggle="tab">Add Comment</a></li>
                <li class=""><a href="#timelines" data-toggle="tab">Work history</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <div class="issue-description">
                        <p data-ng-bind-html="issue.description | nl2br"></p>
                    </div>
                </div>
                <!-- Show Issue actions history -->
                <div class="tab-pane" id="journals">
                    <div class="alert center" data-ng-hide="issue.detailsLoaded">
                        Loading history...
                    </div>
                    <div data-ng-repeat="history in issue.journals" class="issue-history">                    
                        <p class="pointer minify" data-ng-click="toggleMinify(history)">
                            <small>
                                <strong>Updated by</strong>&nbsp;
                                <a href="" data-ng-click="false;">{{history.user.name}}</a> on {{history.created_on | date:'MMM d, y'}}
                            </small>
                            <i class="pull-right" data-ng-class="history.minified && 'icon-resize-full' || 'icon-resize-small'"></i>
                        </p>
                        <div data-ng-hide="history.minified">
                            <ul data-ng-show="history.details.length > 0">
                                <li data-ng-repeat="item in history.details">
                                    <div data-issue-history="item" data-issue="issue" data-project="project"></div>
                                </li>
                            </ul>
                            <div data-ng-show="history.notes">
                                <blockquote>
                                    <p>{{history.notes}}</p>
                                    <small class="pointer" data-ng-click="replyComment()">
                                        <i class="icon-comment"></i>&nbsp;Reply
                                    </small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- List of attachments for issue -->
                <div class="tab-pane" id="attachments">
                    <div class="issue-attachments">
                        <upload-file></upload-file>
                        <div data-ng-repeat="attach in issue.attachments" class="attach">
                            <i class="icon-chevron-right"></i>&nbsp;
                            <a data-ng-href="{{attach.content_url}}" target="_blank">{{attach.filename}}</a>
                            &nbsp;
                            <small>
                                <i>{{attach.author.name}}&nbsp;{{attach.created_on | date:'dd-MM-yyyy'}}</i>
                            </small>
                        </div>
                    </div>
                </div>
                <!-- Add new Comment to issue -->
                <div class="tab-pane" id="addComment">
                    <form>
                        <textarea rows="5" class="input-block-level" data-ng-disabled="!issue.detailsLoaded" data-ng-model="comment"></textarea>
                        <div>
                            <button class="btn" data-ng-disabled="!issue.detailsLoaded" data-ng-click="addComment(comment); comment = ''">Add Comment</button>
                        </div>
                    </form>
                </div>
                <!-- Timelines -->
                <div class="tab-pane" id="timelines">
                    <div class="issue-timelines">
                        <div class="alert text-center" data-ng-hide="issue.timelines.length > 0">
                            No logs available.
                        </div>
                        <div data-ng-show="issue.timelines.length > 0">
                            <div class="row-fluid">
                                <div class="span8">
                                    <span class="label label-info">Total spent:&nbsp;{{issue.timelineTotal|tohours}}</span>
                                </div>
                                <div class="span4">
                                    <a href="" class="btn" data-ng-click="clearTimeline(issue)" data-ng-hide="issue.tracking">
                                        <i class="icon-trash"></i>&nbsp;
                                        Clear work log
                                    </a>
                                </div>
                            </div>
                            <hr/>
                        </div>                        
                        <div class="timeline" data-ng-repeat="timeline in issue.timelines">
                            <div class="row-fluid">
                                <div class="span11 entry">
                                    <p>
                                        <span class="label label-success">{{timeline.spent|tohours}}</span>
                                        Some comment
                                    </p>
                                    <small class="muted">&nbsp;<i>{{timeline.start|date:'yyyy-MM-dd'}}</i></small>
                                </div>
                                <div class="span1">
                                    <i class="icon-trash pointer remove-hidden" data-ng-click="removeTimeline(timeline)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" class="btn" data-ng-click="openWebPage(issue)">
            <i class="icon-share"></i>&nbsp;
            Open in Redmine
        </a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>