<div class="alert alert-success" data-ng-show="success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> Your issue successfully created !
</div>
<div class="alert alert-info center" data-ng-show="isLoading">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <img src="/img/ajax-loader.gif" alt="Loading..." />
    <strong>Loading...</strong>
</div>
<div class="alert alert-error" data-ng-show="errors.length > 0">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong>
    <ul>
        <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>
</div>
<div class="page-header">
    <h3>New Issue</h3>
</div>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="subject">Subject</label>
            <div class="controls">
                <input type="text" id="subject" placeholder="Subject" data-ng-model="issue.subject" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="project_id">Project</label>
            <div class="controls">
                <select id="project_id"
                        data-ng-model="issue.project_id" 
                        data-ng-options="project.id as project.name for project in projects" 
                        data-ng-change="projectChanged()">
                    <option value="">Select project</option>
                </select>
            </div>
        </div>
        <div class="control-group" data-ng-show="project.members">
            <label class="control-label" for="assigned_to_id">Assign to</label>
            <div class="controls">
                <select id="assigned_to_id"
                        data-ng-model="issue.assigned_to_id" 
                        data-ng-options="member.id as member.name for member in project.members">
                    <option value="">Select assignee</option>
                </select>
            </div>
        </div>
        <div class="control-group" data-ng-show="project.trackers">
            <label class="control-label" for="tracker_id">Tracker</label>
            <div class="controls">
                <select id="tracker_id"
                        data-ng-model="issue.tracker_id" 
                        data-ng-options="track.id as track.name for track in project.trackers">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="estimated_hours">Estimated hours</label>
            <div class="controls">
                <input type="number" id="estimated_hours" min="0" data-ng-model="issue.estimated_hours" />  
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea rows="7" id="description" class="input-xxlarge" data-ng-model="issue.description"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success" data-ng-click="submit()">Create new Issue</button>
            <a href="#/home" class="btn">Cancel</a>
        </div>
    </form>
</div>