<div class="alert alert-success" data-ng-show="success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> Your issue successfully created !
</div>
<div class="alert alert-error" data-ng-show="errors.length > 0">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong>
    <ul>
        <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>
</div>
<div class="page-header">
    <h3>New Issue</h3>
</div>
<div class="row">
    <div class="col-md-9">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 control-label" for="subject">Subject</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="subject" placeholder="Subject" data-ng-model="issue.subject" required tabindex="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="project_id">Project</label>
                <div class="col-lg-7">
                    <select id="project_id"
                            class="form-control"
                            data-ng-model="issue.project_id"
                            data-ng-options="project.id as project.name for project in projects"
                            data-ng-change="projectChanged()"
                            tabindex="2">
                        <option value="">Select project</option>
                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-show="issue.project_id > 0">
                <label class="col-md-2 control-label" for="assigned_to_id">Assign to</label>
                <div class="col-lg-7">
                    <span data-ng-hide="project.membersLoaded">Loading...</span>
                    <select id="assigned_to_id"
                            class="form-control"
                            data-ng-show="project.membersLoaded"
                            data-ng-model="issue.assigned_to_id"
                            data-ng-options="member.id as member.name for member in project.members"
                            tabindex="3">
                        <option value="">Select assignee</option>
                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-show="issue.project_id > 0">
                <label class="col-md-2 control-label" for="tracker_id">Tracker</label>
                <div class="col-lg-7">
                    <span data-ng-hide="project.fullyLoaded">Loading...</span>
                    <select id="tracker_id"
                            class="form-control"
                            data-ng-show="project.fullyLoaded"
                            data-ng-model="issue.tracker_id"
                            data-ng-options="track.id as track.name for track in project.trackers"
                            tabindex="4">
                        <option value="" >Select tracker</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="estimated_hours">
                    Estimated hours
                </label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" id="estimated_hours" min="0" data-ng-model="issue.estimated_hours" tabindex="5"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="description">Description</label>
                <div class="col-lg-7">
                    <textarea rows="7" id="description" class="col-md-5 form-control" data-ng-model="issue.description" tabindex="6"></textarea>
                </div>
            </div>
            <hr/>
            <div class="margin-top">
                <button type="submit" class="btn btn-success" data-ng-click="submit()" tabindex="7">Create new Issue</button>
                <a href="#/home" class="btn" tabindex="8">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-md-3" data-ng-hide="options.profile.hideHints">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Notice</strong><br /><br />
            <strong>Tracker</strong> and <strong>Assignee</strong> fields will appear after project selection.
        </div>
    </div>
</div>