<div class="page-header">
    <h3>Your Timelines</h3>
</div>
<div>
    <div class="alert text-center" data-ng-hide="timelines.length > 0 || timelinesActive.length > 0">
        You are no working on issues.
    </div>
    <div data-ng-show="timelines.length > 0 || timelinesActive.length > 0">
        <a href="" class="btn btn-danger" data-ng-click="clear()">
            <i class="icon-trash"></i>&nbsp;Clear all work logs
        </a>
    </div>
    <div data-ng-show="timelinesActive.length > 0">
        <div data-ng-repeat="timeline in timelinesActive" class="wall">
            {{timeline.issueId}} {{timeline.start|date:'MM/dd/yyyy h:mma'}}&nbsp;
            <span class="label label-success" data-ng-show="!timeline.spent && !timeline.end">Active</span>
        </div>
        <hr/>
    </div>
    <div data-ng-repeat="timeline in timelines|limitTo:limit" class="wall">
        <div data-ng-click="timeline.open = !timeline.open" class="pointer">
            <i data-ng-class="timeline.open && 'icon-minus-sign' || 'icon-plus-sign'"></i>
            {{timeline.issue.subject}}&nbsp;
            <span style="margin-left: 15px;" class="label label-warning">total: {{timeline.total|tohours}}</span>
        </div>
        <div data-ng-show="timeline.open" class="time-entries">
            <div data-ng-repeat="t in timeline.times" class="entry">
                <p>
                    <span class="label label-success">{{t.spent|tohours}}</span>
                    Some comment
                </p>
                <small class="muted"><i>&nbsp;{{t.start|date:'yyyy-MM-dd'}}</i></small>
            </div>
        </div>
    </div>
    <div data-ng-show="timelines.length > limit">
        <a href="" data-ng-click="limit = limit+10">Show more...</a>
    </div>
</div>